<div class="main_projects container">
  <p id="notice"><%= notice %></p>

  <h1 class="tac">Projects</h1>
<div class="project_cards">
      <% @projects.each do |project| %>
        <div class="project_card">
        <%= project.image_url %>
        <%= project.name %>
          <%= truncate(project.details) %>
          <%= project.url %>
          <%= project.github %>
          <div class="project_card-links">
          <%= link_to 'Show', project %>
          <%= link_to 'Edit', edit_project_path(project) %>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      <% end %>
</div>

  <br>

  <%= link_to 'New Project', new_project_path %>
</div>
